.wrapper {
    width: 100%;
    max-width: 375px;
    margin: 0px auto;
    position: relative;
  }
  .part2 {
    background: url(../turn/plan.png) left top no-repeat;
    padding-top: 100%;
    background-size: 100% 100%;
    position: relative;
  }
  .rotate-pointer {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20%;
    height: 26%;
    margin-left: -10%;
    margin-top: -15%;
    background: url(../turn/center.png) center center no-repeat;
    background-size: 100% 100%;
  }
  .part2 {
    transition: transform 10.5s;
    transition-timing-function: cubic-bezier(0.42, 0, 0, 0.99);
  }
  .punishDiv {
    margin: 5% auto;
  }
  table {
    margin: 0 auto;
    border-collapse: collapse;
    border: 1px solid black;
  }
  td {
    border-collapse: collapse;
    border: 1px solid black;
  }
  
  thead,
  tfoot {
    background-color: #333;
    color: #fff;
  }
  
  #wrapperLabel {
    margin: 0 auto;
    text-align: center;
  }
  