.wrapper {
    width: 100%;
    max-width: 375px;
    margin: 0px 36% 0 auto;
    position: relative;
  }
  .part2 {
    background: url(../turn/turn.png) left top no-repeat;
    padding-top: 100%;
    background-size: 100% 100%;
    position: relative;
    filter: drop-shadow(1px 1px 1px 1px rgba(0, 0, 0, 0.7))
  }
  .rotate-pointer {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20%;
    height: 26%;
    margin-left: -10%;
    margin-top: -15%;
    background: url(../turn/center.png) center center no-repeat;
    background-size: 100% 100%;
  }
  .part2 {
    transition: transform 10.5s;
    transition-timing-function: cubic-bezier(0.42, 0, 0, 0.99);
  }
  .punishDiv {
    margin: 0 auto;
    justify-content: center; 
    align-items: center; 
  }

  #punishTitle{
    text-align: center;
    margin: 5% 5% 0 auto;
  }

  .punishs{
    margin: 0 5% 5% 6.7%;
    font-size: 2.5vmin;
    text-align: center;
  }
  
  #wrapperLabel {
    text-align: center;
  }
  
  .punishInput{
    display: inline-block;
    position: relative;
    width: 100%;
  }
  
  @media screen and (max-width: 800px) {
    .punishs{
      margin: 0 5% 5% 11%;
    }
  }